//debug = true

params.publishdirmode = 'symlink'

conda {
    enabled = true
    cacheDir = 'condaenvs'
    //useMamba = true //error with --mkdir when creating envs
    //channels = 'conda-forge,bioconda,iskoldt'
}
//tool databases
params.plascopedb = "${projectDir}/assets/Klebsiella_PlaScope"
params.plascopedb_name = "Klebsiella_PlaScope"
params.plasmerdb = "${projectDir}/assets/Plasmer_db"
params.platondb = "${projectDir}/assets/Platon_db"

profiles {
	lcl {
		executor {
			name = 'local'
			cpus = 64
			memory = '400 GB'
		}
		process {
			withLabel: process_1 {
				cpus = 1
			}
			withLabel: process_8 {
				cpus = 8
			}
		}
	}
}

trace {
  fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action,cpu_model' //script,env - removed as it adds linebreaks to the tracefile
}
