//debug = true

//publishing mode for result files
params.publishdirmode = 'symlink'

//short read assembler to use - either 'spades' or 'unicycler'
params.SRassembler = 'spades'

//path to Hyasp environment
params.hyasp_env = "${projectDir}/assets/hyasp_env"
//params.plasme = "${projectDir}/assets/PLASMe"

//tool databases
params.plascopedb = "${projectDir}/assets/Klebsiella_PlaScope"
params.plascopedb_name = "Klebsiella_PlaScope"
params.plasmerdb = "${projectDir}/assets/Plasmer_db"
params.platondb = "${projectDir}/assets/Platon_db"
params.hyaspdb = "${projectDir}/assets/hyasp/databases/ncbi_database_genes.fasta"
params.plasmedb = "${projectDir}/assets/PLASMe/DB"
params.geNomaddb = "${projectDir}/assets/genomad_db"


params.timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

conda {
    enabled = true
    cacheDir = 'condaenvs'
    useMamba = true 
	createTimeout = '1h' //kleborate downloads a database
    //channels = 'conda-forge,bioconda,iskoldt'
}

profiles {
	lcl {
		executor {
			name = 'local'
			cpus = 72
			memory = '300GB'
			queueSize = 72
		}
		process {
			withLabel: process_1 {
				cpus = 1
			}
			withLabel: process_8 {
				cpus = 8
			}
		}
	}
}

trace {
  fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action,cpu_model' //script,env - removed as it adds linebreaks to the tracefile
}
